<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    <h1>Tentang Saya</h1>
    <p>Halo, nama saya <b>Kristian Dwi Putra</b>. Saya berasal dari <b>Bandung</b> dan saat ini berusia <b>21 tahun</b>.</p>
    <p>Saya berasal dari keluarga <b>TAJIR MELINTIR</b>. Dalam kehidupan sehari-hari, saya punya hobi <b>mancing</b> saya Owner PT.MENCARI CINTA SEJATI</p>
    <p>Saya juga suka <b>menghayal</b></p>

    <p>Website ini saya buat sebagai latihan dasar menggunakan Django, sekaligus untuk menampilkan informasi singkat tentang diri saya.</p>

    <a href="/">Kembali ke Home</a><br>
    <a href="/contacts/">Lihat Contacts</a>
</body>
</html>